.title {
  padding-top: 5rem;
  height: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-image: url(images/poster/title.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  background-attachment: fixed;

  &-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 10px;

    h1 {
      text-transform: uppercase;
      font-size: 1.15rem;
      color: $black;
    }
  }
}

@media screen and (min-width: $max-2-width) {
  .title {
    height: 500px;

    &-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
