section,
footer {
  padding: 0 1.5rem 2rem;
}

@media screen and (min-width: $max-1-width) {
  section,
  footer {
    padding: 0 $gutter 2rem;
  }
}

@media screen and (min-width: $max-2-width) {
  section,
  footer {
    padding: 0 $gutter-med 2rem;
  }
}

@media screen and (min-width: $max-3-width) {
  section,
  footer {
    padding: 0 $gutter-big 3rem;
  }
}

@media screen and (min-width: $max-4-width) {
  section,
  footer {
    padding: 0 $gutter-xl 3rem;
  }
}
