.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;

  &-img {
    padding-top: 5rem;
    width: 70%;
    margin: auto;

    img {
      width: 100%;
      margin: auto;
    }
  }

  &-header {
    font-family: $hand-font;
    font-size: 4rem;
    text-align: center;
    color: $black;
  }

  span {
    border: 2px solid $black;
    position: absolute;
    z-index: -1;
  }

  &-circle1 {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    top: 18rem;
    right: 50%;
    animation: pulse 5s infinite ease-in-out alternate;
  }

  &-circle2 {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    top: 10rem;
    right: 20%;
    animation: pulse 8s infinite ease-in-out alternate;
  }

  &-circle3 {
    width: 9rem;
    height: 9rem;
    border-radius: 10rem;
    top: 30rem;
    right: 10%;
    opacity: 0;
    animation: pulse 5s infinite ease-in-out alternate;
  }

  @keyframes pulse {
    from { transform: scale(0.5); }
    to { transform: scale(1); }
  }
}

.hero.shrink {
  height: 300px;
}

@media screen and (min-width: $max-1-width) {
  .hero {
    &-header {
      font-size: 5rem;
    }

    &-img {
      width: 60%;
    }

    &-circle1 {
      top: 20rem;
    }
  }
}

@media screen and (min-width: $max-2-width) {
  .hero {
    &-header {
      font-size: 5rem;
    }

    &-img {
      max-width: 45%;
    }

    &-circle1 {
      top: 25rem;
      right: 50%;
    }

    &-circle2 {
      top: 10rem;
      right: 30%;
    }
  }
}

@media screen and (min-width: $max-3-width) {
  .hero {
    flex-flow: row nowrap;
    justify-content: center;

    &-img {
      max-width: 50%;
      height: 50%;
    }

    &-header {
      width: 100%;
      align-self: center;
      font-size: 6rem;
    }

    &-circle1 {
      top: 27rem;
      right: 75%;
    }

    &-circle2 {
      width: 5rem;
      height: 5rem;
      top: 10rem;
      right: 50%;
    }

    &-circle3 {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $max-4-width) {
  .hero {
    &-img {
      max-width: 35%;
    }

    &-circle1 {
      right: 80%;
    }
  }
}
